<nav
  *ngIf="{ category: category$ | async, mybasket: myBasket$ | async } as data"
  class="navbar navbar-expand-lg navbar-dark bg-primary"
>
  <a [routerLink]="['/home']" class="navbar-brand">Marketim</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let menu of data?.category" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ menu.Name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a *ngFor="let subCategory of menuSubCategory(menu.Id) | async" class="dropdown-item">{{
            subCategory.Name
          }}</a>
        </div>
      </li>
    </ul>
    <a (click)="myBasket()" class="btn btn-danger">
      <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon> Sepet
      <span class="badge badge-light">{{ data.mybasket.productNumber }}</span>
    </a>
  </div>
</nav>
